<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Connexion - TogoExplore</title>
</head>

<body>

    <h1>Connexion à TogoExplore</h1>

    {% if form.errors %}
        <p>
            Nom d'utilisateur ou mot de passe incorrect.
        </p>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Se connecter
        </button>

    </form>

    <a href="{% url 'home' %}">
        Retour à l'accueil
    </a>

<p>
    Vous n'avez pas encore de compte ?
</p>

<a href="{% url 'register' %}">
    Créer un compte
</a>

</body>

</html>