{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contact - TogoExplore</title>
</head>

<body>

    <h1>Contactez-nous</h1>

    <form method="POST">

        {% csrf_token %}

        <div>
            <label>Nom :</label>
            <input
                type="text"
                name="name"
                required
            >
        </div>

        <br>

        <div>
            <label>Email :</label>
            <input
                type="email"
                name="email"
                required
            >
        </div>

        <br>

        <div>
            <label>Sujet :</label>
            <input
                type="text"
                name="subject"
                required
            >
        </div>

        <br>

        <div>
            <label>Message :</label>
            <textarea
                name="message"
                required
            ></textarea>
        </div>

        <br>

        <button type="submit">
            Envoyer
        </button>

    </form>

    <br>

    <a href="{% url 'home' %}">
        Retour à l'accueil
    </a>

</body>
</html>