{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">

    <title>{{ site.name }}</title>

    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css"
    />

</head>

<body>

    <!-- Nom du site -->
    <h1>{{ site.name }}</h1>

   <p>
    ⭐ <strong>{{ site.average_rating }}/5</strong>
    ({{ site.reviews_count }} avis)
    </p>

    <img src="{{ site.image.url }}" width="600">



    <!-- Favoris -->
    {% if user.is_authenticated %}

        <a href="{% url 'add_favorite' site.id %}">
            ❤️ Ajouter aux favoris
        </a>

    {% endif %}


    <!-- Image -->
    {% if site.image %}

        <img
            src="{{ site.image.url }}"
            width="600"
            alt="{{ site.name }}"
        >

    {% endif %}


    <!-- Description -->
    <h2>Description</h2>

    <p>
        {{ site.description }}
    </p>


    <!-- Localisation -->
    <p>
        📍 {{ site.location }}
    </p>


    <!-- Carte -->
    <h2>Localisation sur la carte</h2>

    <div
        id="map"
        style="height: 400px; width: 100%;"
    ></div>


    <!-- Retour -->
    <br>

    <a href="{% url 'home' %}">
        ← Retour à l'accueil
    </a>


    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


    <script>

        var map = L.map('map').setView(
            [
                {{ site.latitude }},
                {{ site.longitude }}
            ],
            10
        );


        // Fond de carte OpenStreetMap
        L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            {
                attribution: '&copy; OpenStreetMap contributors'
            }
        ).addTo(map);


        // Marqueur du site
        L.marker([
            {{ site.latitude }},
            {{ site.longitude }}
        ])
        .addTo(map)
        .bindPopup(
            "<b>{{ site.name }}</b><br>{{ site.location }}"
        )
        .openPopup();

    </script>


    <!-- ======================== -->
    <!-- FORMULAIRE D'AVIS -->
    <!-- ======================== -->

    {% if user.is_authenticated %}

        <h3>Laisser un avis</h3>

        <form method="POST">

            {% csrf_token %}

            <div>

                <label>
                    Votre nom
                </label>

                <br>

                <input
                    type="text"
                    name="name"
                    placeholder="Votre nom"
                    required
                >

            </div>


            <br>


            <div>

                <label>
                    Votre commentaire
                </label>

                <br>

                <textarea
                    name="comment"
                    placeholder="Votre commentaire"
                    required
                ></textarea>

            </div>


            <br>


            <div>

                <label>
                    Votre note
                </label>

                <br>

                <select
                    name="rating"
                    required
                >

                    <option value="5">
                        ⭐⭐⭐⭐⭐
                    </option>

                    <option value="4">
                        ⭐⭐⭐⭐
                    </option>

                    <option value="3">
                        ⭐⭐⭐
                    </option>

                    <option value="2">
                        ⭐⭐
                    </option>

                    <option value="1">
                        ⭐
                    </option>

                </select>

            </div>


            <br>


            <button type="submit">
                Envoyer mon avis
            </button>

        </form>


    {% else %}

        <p>
            Vous devez être connecté pour laisser un avis.
        </p>

        <a href="{% url 'login' %}">
            Se connecter
        </a>

    {% endif %}


    <!-- ======================== -->
    <!-- LISTE DES AVIS -->
    <!-- ======================== -->

    <h3>Avis des visiteurs</h3>


    {% for review in site.reviews.all %}

        <div class="card">

            <h4>
                {{ review.name }}
            </h4>

            <p>
                ⭐ {{ review.rating }}/5
            </p>

            <p>
                {{ review.comment }}
            </p>

            <small>
                Publié le {{ review.created_at }}
            </small>

        </div>

        <hr>

    {% empty %}

        <p>
            Aucun avis pour le moment.
        </p>

    {% endfor %}

    {% if user.is_authenticated %}

    {% if site in user.favorite_sites.all %}

        <a href="{% url 'remove_favorite' site.id %}">
            💔 Retirer des favoris
        </a>

    {% else %}

        <a href="{% url 'add_favorite' site.id %}">
            ❤️ Ajouter aux favoris
        </a>

    {% endif %}

{% else %}

    <p>
        Connectez-vous pour ajouter ce site à vos favoris.
    </p>

    <a href="{% url 'login' %}">
        Se connecter
    </a>

{% endif %}


</body>

</html>