{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <title>{{ site.name }}</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet/dist/leaflet.css"
    />
</head>
<body>
    <h1>{{ site.name }} </h1>

    <img src="{{ site.image.url }}" width="600">

    <p>{{ site.description }}</p>

    <a href="/">Retour</a>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <h2>{{ site.name }}</h2>

    <p>{{ site.description }}</p>

    <div id="map" style="height: 400px; width: 100%;"></div>

    <script>
    var map = L.map('map').setView([{{ site.latitude }}, {{ site.longitude }}], 10);

    // Fond de carte OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    // Marqueur du site
    L.marker([{{ site.latitude }}, {{ site.longitude }}])
        .addTo(map)
        .bindPopup("<b>{{ site.name }}</b><br>{{ site.location }}")
        .openPopup();
</script>



{% if user.is_authenticated %}

<h3>Laisser un avis</h3>

<form method="POST">

    {% csrf_token %}

    

    <textarea
        name="comment"
        placeholder="Votre commentaire"
        required
    ></textarea>

    <select name="rating">

        <option value="5">⭐⭐⭐⭐⭐</option>
        <option value="4">⭐⭐⭐⭐</option>
        <option value="3">⭐⭐⭐</option>
        <option value="2">⭐⭐</option>
        <option value="1">⭐</option>

    </select>

    <button type="submit">
        Envoyer
    </button>

</form>

{% else %}

<p>Veuillez vous connecter pour laisser un avis.</p>

<a href="{% url 'login' %}">
    Connexion
</a>

{% endif %}

<h3 class="mt-4">Avis des visiteurs</h3>


       
{% for review in site.reviews.all %}

<div class="card mb-3">

    <div class="card-body">

        <h5>{{ review.author }}</h5>

        <p>⭐ {{ review.rating }}/5</p>

        <p>{{ review.comment }}</p>

        <p>Utilisateur connecté : {{ user.username }}</p>
        <p>Auteur de l'avis : {{ review.author }}</p>

        {% if user.username == review.author %}

        <a href="{% url 'delete_review' review.id %}">
            Supprimer
        </a>

        {% endif %}

    </div>

</div>

{% empty %}

<p>Aucun avis pour le moment.</p>

{% endfor %}




</body>
</html>